<nav class="nav">
  <%= link_to categories_path, class: 'link' do %>
    <span class="iconify" data-icon="eva:arrow-ios-back-fill" data-width="50" data-height="40" style="color: white; margin-left: -12rem;"></span>
  <%end%>
  <h2 class="heading">Add a Category</h2>
</nav>
<%= form_with model: @category, class: "form" do |f| %>
  <section class="form-section">
    <%= f.text_field :name,
    class: "text_input",
    placeholder: "Name" %>
  </section>

  <section class="form-section">
    <%= f.select :icon, ['âœˆï¸', 'ðŸ”', 'ðŸ›ï¸', 'ðŸ¥•', 'ðŸ’°', 'ðŸ’…', 'ðŸ¹', 'ðŸŽ', 'ðŸ¥', 'ðŸ ', 'ðŸš‹', 'ðŸš°'], value: @category.icon, required: true %>
  </section>

  <section class="form-section">
    <div class="submit">
      <%= f.submit "Save", class: "submit_button" %>
    </div>
  </section>
<% end %>