<nav class="nav">
    <%= link_to categories_path, class: 'link' do %>
      <span class="iconify" data-icon="eva:arrow-ios-back-fill" data-width="50" data-height="40" style="color: white; margin-left: -7rem;"></span>
    <%end%>
    <h1 class="heading"><%= @category.name %> expenses</h1>
  </nav>
<div class="total_amount">
  <p class="name-tot">Total Amount:</p> <p class="amount">$<%= @total %></p>
</div>
<% @expenses.each do |expense| %>
  <div class="expense_container">
    <p class="name-tot"><%= expense.expense.name %></p>
    <p class="amount">$ <%= expense.created_at %></p>
    <p class="amount">$ <%= expense.amount %></p>
  </div>  
<% end %>
<div class="new-link3">
  <%= link_to 'New Expense', new_category_expense_path(user_id: current_user), method: :get, class: 'expense-link' %>
</div>